<launch>
  <!-- 发布URDF到参数服务器 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find lbc_robot_description)/urdf/simple_robot.urdf" />

  <!-- 发布机器人状态 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- 发布关节状态（用于rviz可视化） -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- 启动rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find lbc_robot_description)/config/display.rviz" />
</launch>

