<launch>
  <!-- 启动 Gazebo 空世界 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- 加载机器人模型 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find lbc_robot_description)/urdf/simple_robot.urdf" />

  <!-- 将机器人 spawn 到 Gazebo 中 -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model my_robot -x 0 -y 0 -z 0.1" />

  <!-- 发布机器人状态 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>

